<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.darkside.xdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name="au.com.darkside.xdemo.XServerActivity"
            android:configChanges="keyboardHidden" 
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.WithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="x11" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.com.darkside.xdemo.AccessControlEditor"
            android:label="Authorized IP addresses" />
    </application>
</manifest>